body {
	background-image: url('images/bg-pattern.png');
	color: white;
}

.gallery{
	width: 550px;
}

.gallery li {
	float: left;
	margin-right: 15px;
}

.gallery li a {
	display: block;
	border: 8px solid #FAFAFA;
	border-bottom-width: 30px;
	border-radius: 2px;
}