body{
	background-color : black;
	color: white;
}

/* Acc Slide Section
-------------------------------------------------- */
div.accslides{
	width    : 600px;
	overflow : hidden;
	margin   : 0 auto;
}

div.accslides .train{
	width : 900px; /* 4x150 +200(lastPadd) +100(havijoori) */
}

div.accslides .train > div{
	width    : 150px;
	overflow : hidden;
	float    : left;
	cursor   : pointer;
	/* auto height by img */
}

div.accslides .train > div > img{
	display: block;
}