
/* Acc Slide Section
-------------------------------------------------- */
div.accslides{
	width    : 600px;
	overflow : hidden;
	margin   : 0 auto;
}

div.accslides .train{
	width : 700px;
}

div.accslides .train > div{
	width    : 150px;
	overflow : hidden;
	float    : left;
	cursor   : pointer;
	/* auto height by img */
}

div.accslides .train > div > img{
	display: block;
}
