body{
	background-image:url("images/back-gradient.jpg");
	background-repeat:repeat-x;
	background-color:#f3f2de;
}
div.container{
	width:950px;
	margin:0 auto;
}

div.header{
	min-height:150px;
}

div.content{
	min-height:150px;
}

div.banner{
	min-height:150px;
}

div.panels{
	min-height:150px;
}

div.bottom{
	min-height:150px;
}

div.footer{
	min-height:150px;
}

