body{
	background-image:url("images/backgrandline.jpg");
	background-repeat:repeat-x;
	background-color:#f3f2de;
}
div.container{
	width:950px;
	margin:0 auto;
}

div.header{
	min-height:210px;
}


div.header div.leftheader{
	float:left;
	min-height:200px;
	width:300px;
	
}


div.header div.rightheader{
	width:auto;
	min-height:200px;
	margin-left:302px;	
}


div.content{
	min-height:150px;
}

div.banner{
	min-height:560px;
	
}

div.panels{
	min-height:400px;
}


div.panels div.leftpanel{
	float:left;
	min-height:400px;
	width:200px;
}

div.panels div.centerpanel{
	float:left;
	min-height:400px;
	width:200px;
}


div.panels div.rightpanel{
	margin-left:402px;
	min-height:400px;
	width:200px;
}



div.bottom{
	min-height:150px;
}

div.footer{
	min-height:150px;
}

