/* 01 structure */

section.slideshow {
	width: 450px;
}

section.slideshow ul.train{
	left:0;
	top: 0;
}

section.slideshow ul.train > li{
	width: 450px;
	height: 300px;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
