section.slideshow {
	width     : 450px;
	height    : 400px;
	margin-top: 20px;
}

section.slideshow ul.train {
	top : 0;
	left: 0;
	-webkit-transition: left 900ms ease-in-out;
}

section.slideshow ul.train > li {
	width : 450px;
	height: 300px;
}

section.slideshow menu li {
	float : left;
	width : 30px;
	height: 10px;
	cursor: pointer;
	background   : #333;
	margin-right : 10px;
	border-radius: 2px;
	margin-top: 2px;
	-webkit-transition: all 700ms;
}

section.slideshow menu li:hover {
	height    : 14px;
	background: #2677AD;
	margin-top: 0;
	-webkit-transition: all 300ms;
}