/* 01 structure */

section.slideshow {
	width: 450px;
}

section.slideshow ul.train{
}

section.slideshow ul.train > li{
	width: 450px;
	height: 300px;
	position:absolute;
	z-index: 1;
	left:0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/* 02 Navigation */

section.slideshow menu{
	position:absolute;
	left: 8px;
	bottom: 8px;
	z-index: 3;
}

section.slideshow menu li{
	float:left;
	width:12px;
	height:12px;
	border-radius: 6px;
	background-color: #333;
	opacity: 0.7;
	margin-right: 3px;
	cursor: pointer;
	-webkit-transition: all 500ms;
}

section.slideshow menu li:hover{
	background-color: #CCE;
	opacity: 1;
}

/* animation steps */

.train > li {
	opacity:0;
	top:-5%;
	-webkit-transition: all 900ms ease-in-out;
}

.step1 .train li.pic1{
	opacity: 1;
	top:0%;
}

.step2 .train li.pic2{
	opacity: 1;
	top:0%;
}

.step3 .train li.pic3{
	opacity: 1;
	top:0%;
}

.step4 .train li.pic4{
	opacity: 1;
	top:0%;
}

.step5 .train li.pic5{
	opacity: 1;
	top:0%;
}