/* CSS Layout helper, base on http://github.com/1devs/blueprint-css */

/* A container should group all your columns. */
.container {
  width: 950px;
  margin: 0 auto;
}

/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
  margin-right: 10px;
}

/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1 {width: 30px;}

.span-2 {width: 70px;}
.span-3 {width: 110px;}
.span-4 {width: 150px;}
.span-5 {width: 190px;}
.span-6 {width: 230px;}
.span-7 {width: 270px;}
.span-8 {width: 310px;}
.span-9 {width: 350px;}
.span-10 {width: 390px;}
.span-11 {width: 430px;}
.span-12 {width: 470px;}
.span-13 {width: 510px;}
.span-14 {width: 550px;}
.span-15 {width: 590px;}
.span-16 {width: 630px;}
.span-17 {width: 670px;}
.span-18 {width: 710px;}
.span-19 {width: 750px;}
.span-20 {width: 790px;}
.span-21 {width: 830px;}
.span-22 {width: 870px;}
.span-23 {width: 910px;}
.span-24 {width:950px; margin-right:0;}


/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

input.span-1, textarea.span-1 { width: 18px; }
input.span-2, textarea.span-2 { width: 58px; }
input.span-3, textarea.span-3 { width: 98px; }
input.span-4, textarea.span-4 { width: 138px; }
input.span-5, textarea.span-5 { width: 178px; }
input.span-6, textarea.span-6 { width: 218px; }
input.span-7, textarea.span-7 { width: 258px; }
input.span-8, textarea.span-8 { width: 298px; }
input.span-9, textarea.span-9 { width: 338px; }
input.span-10, textarea.span-10 { width: 378px; }
input.span-11, textarea.span-11 { width: 418px; }
input.span-12, textarea.span-12 { width: 458px; }
input.span-13, textarea.span-13 { width: 498px; }
input.span-14, textarea.span-14 { width: 538px; }
input.span-15, textarea.span-15 { width: 578px; }
input.span-16, textarea.span-16 { width: 618px; }
input.span-17, textarea.span-17 { width: 658px; }
input.span-18, textarea.span-18 { width: 698px; }
input.span-19, textarea.span-19 { width: 738px; }
input.span-20, textarea.span-20 { width: 778px; }
input.span-21, textarea.span-21 { width: 818px; }
input.span-22, textarea.span-22 { width: 858px; }
input.span-23, textarea.span-23 { width: 898px; }
input.span-24, textarea.span-24 { width: 938px; }


.margin-left-1 { margin-left: 40px; }
.margin-left-2 { margin-left: 80px; }
.margin-left-3 { margin-left: 120px; }
.margin-left-4 { margin-left: 160px; }
.margin-left-5 { margin-left: 200px; }
.margin-left-6 { margin-left: 240px; }
.margin-left-7 { margin-left: 280px; }
.margin-left-8 { margin-left: 320px; }
.margin-left-9 { margin-left: 360px; }
.margin-left-10 { margin-left: 400px; }
.margin-left-11 { margin-left: 440px; }
.margin-left-12 { margin-left: 480px; }
.margin-left-13 { margin-left: 520px; }
.margin-left-14 { margin-left: 560px; }
.margin-left-15 { margin-left: 600px; }
.margin-left-16 { margin-left: 640px; }
.margin-left-17 { margin-left: 680px; }
.margin-left-18 { margin-left: 720px; }
.margin-left-19 { margin-left: 760px; }
.margin-left-20 { margin-left: 800px; }
.margin-left-21 { margin-left: 840px; }
.margin-left-22 { margin-left: 880px; }
.margin-left-23 { margin-left: 920px; }
.margin-left-24 { margin-left: 960px; }
.margin-left-auto { margin-left: auto; }


.margin-right-1 { margin-right: 40px; }
.margin-right-2 { margin-right: 80px; }
.margin-right-3 { margin-right: 120px; }
.margin-right-4 { margin-right: 160px; }
.margin-right-5 { margin-right: 200px; }
.margin-right-6 { margin-right: 240px; }
.margin-right-7 { margin-right: 280px; }
.margin-right-8 { margin-right: 320px; }
.margin-right-9 { margin-right: 360px; }
.margin-right-10 { margin-right: 400px; }
.margin-right-11 { margin-right: 440px; }
.margin-right-12 { margin-right: 480px; }
.margin-right-13 { margin-right: 520px; }
.margin-right-14 { margin-right: 560px; }
.margin-right-15 { margin-right: 600px; }
.margin-right-16 { margin-right: 640px; }
.margin-right-17 { margin-right: 680px; }
.margin-right-18 { margin-right: 720px; }
.margin-right-19 { margin-right: 760px; }
.margin-right-20 { margin-right: 800px; }
.margin-right-21 { margin-right: 840px; }
.margin-right-22 { margin-right: 880px; }
.margin-right-23 { margin-right: 920px; }
.margin-right-24 { margin-right: 960px; }
.margin-right-auto { margin-right: auto; }

/* Add these to a column to append empty cols. */

.append-1 { padding-right: 40px;}
.append-2 { padding-right: 80px;}
.append-3 { padding-right: 120px;}
.append-4 { padding-right: 160px;}
.append-5 { padding-right: 200px;}
.append-6 { padding-right: 240px;}
.append-7 { padding-right: 280px;}
.append-8 { padding-right: 320px;}
.append-9 { padding-right: 360px;}
.append-10 { padding-right: 400px;}
.append-11 { padding-right: 440px;}
.append-12 { padding-right: 480px;}
.append-13 { padding-right: 520px;}
.append-14 { padding-right: 560px;}
.append-15 { padding-right: 600px;}
.append-16 { padding-right: 640px;}
.append-17 { padding-right: 680px;}
.append-18 { padding-right: 720px;}
.append-19 { padding-right: 760px;}
.append-20 { padding-right: 800px;}
.append-21 { padding-right: 840px;}
.append-22 { padding-right: 880px;}
.append-23 { padding-right: 920px;}

/* Add these to a column to prepend empty cols. */

.prepend-1 { padding-left: 40px;}
.prepend-2 { padding-left: 80px;}
.prepend-3 { padding-left: 120px;}
.prepend-4 { padding-left: 160px;}
.prepend-5 { padding-left: 200px;}
.prepend-6 { padding-left: 240px;}
.prepend-7 { padding-left: 280px;}
.prepend-8 { padding-left: 320px;}
.prepend-9 { padding-left: 360px;}
.prepend-10 { padding-left: 400px;}
.prepend-11 { padding-left: 440px;}
.prepend-12 { padding-left: 480px;}
.prepend-13 { padding-left: 520px;}
.prepend-14 { padding-left: 560px;}
.prepend-15 { padding-left: 600px;}
.prepend-16 { padding-left: 640px;}
.prepend-17 { padding-left: 680px;}
.prepend-18 { padding-left: 720px;}
.prepend-19 { padding-left: 760px;}
.prepend-20 { padding-left: 800px;}
.prepend-21 { padding-left: 840px;}
.prepend-22 { padding-left: 880px;}
.prepend-23 { padding-left: 920px;}

/* floating layout
-------------------------------------------------------------- */
.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
	width:0 !important;
	height:0 !important;
	min-height:0 !important;
	min-width:0 !important;
	visibility:hidden; /* overflow:hidden */
}