@charset "utf-8";
/* Banner CSS for teaching */

*{
	margin:0;
	padding:0;
}

div.container{
	width:980px;
	margin:0 auto;
	padding-top:1px;
}

div.banner{
	width:980px;
	height:570px;
	overflow:hidden;
	margin-top:20px;
	position:relative;
}

div.banner div.scroll{
	height:534px;
	position:absolute;
	left:0;
	top:0;
	-webkit-transition-property:all;
	-webkit-transition-duration:800ms;
	-webkit-transition-timing-function:cubic-bezier(0,0.7,0.3,1);
	
}

div.banner div.scroll > div{
	position : relative;
	width    : 980px;
	height   : inherit;
	float    : left;
}

div.banner div.scroll > div > img{
	width   : inherit;
	height  : inherit;
	display : block;
}

div.banner div.scroll > div > div.desc{
	position : absolute;
	left     : 0;
	right    : 0;
	bottom   : 0;
	color    : #f2f2f2;
	padding  : 10px 20px;

	background-color : rgba(0,0,0,.5);
	letter-spacing   : 1px;

	-webkit-transition : all 200ms;
}

div.banner div.scroll > div > div.desc:hover{
	background-color : rgba(0,0,0,.7);
}

div.banner ul.btn{
	list-style-type:none;
	height:16px;
	position:absolute;
	right:0;
	left:0;
	bottom:0;
	margin:0 auto;
}

div.banner ul.btn li{
	float:left;
	width:30px;
	height:10px;
	margin-left:5px;
	background-color:#333;
	cursor:pointer;
	border-radius:5px;
	-webkit-transition:all 800ms;
}
div.banner ul.btn li:first-child{
	margin-left:0;
}

div.banner ul.btn li:hover,
div.banner ul.btn li.active{
	background-color:#39D;
	height:16px;
	margin-top:-3px;
	-webkit-transition-duration:200ms;
}

